# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
**/**.egg-info/
.installed.cfg
**/**.egg
MANIFEST

# Virtual environments
.venv/
env/
venv/
ENV/
env.bak/
venv.bak/

# PyInstaller
#  Usually these files are written by a python script from a template
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Jupyter Notebook
.ipynb_checkpoints

# IDEs
.idea/
*.sublime-workspace
*.sublime-project

# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Logs
*.log

# MyPy
.mypy_cache/

# Ruff
.ruff_cache/

# Pyright
pyrightconfig.json

# Local scripts / config files
*.env
cache/
test.py
outputs/
**/**visualizations
atria_insights/src/atria_insights/explanation_summarizer.py
config-form-app/.gitignore
config-form-app/eslint.config.js
config-form-app/index.html
config-form-app/package-lock.json
config-form-app/package.json
config-form-app/README.md
config-form-app/tsconfig.app.json
config-form-app/tsconfig.json
config-form-app/tsconfig.node.json
config-form-app/vite.config.ts
config-form-app/public/vite.svg
config-form-app/src/App.css
config-form-app/src/App.tsx
config-form-app/src/index.css
config-form-app/src/main.tsx
config-form-app/src/tree.json
config-form-app/src/vite-env.d.ts
config-form-app/src/assets/react.svg
atria_insights/tree.json
config-form-app/src/tree_.json
schema.json
test.ipynb
test2.ipynb
atria_insights/mlruns/
atria_insights/batch.torch
atria_insights/explanation_inputs.torch
atria_insights/explanations.torch
atria_insights/test_clean.ipynb
atria_insights/test123.ipynb
examples/sequence_classification/batch.torch
examples/sequence_classification/explain.py
examples/sequence_classification/explanation_inputs.torch
examples/sequence_classification/explanations.torch
atria_insights/test_mlflow.ipynb
atria_insights/test_mlflow.ipynb
atria_insights/test_mlflow.ipynb
